{% extends "layout.html" %}

{% block title %} Annotation Tool {% endblock %}

{% block head %}
    <link rel="stylesheet" href="http://purecss.io/css/layouts/side-menu.css">
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="static/css/searchbox.css"/>
        <link rel="stylesheet" href="static/css/pure-extras.css" />

        <link rel="stylesheet" href="static/css/style.css" />
        <link rel="stylesheet" href="static/css/ribbon.css" />
        <link rel="screenshot" itemprop="screenshot" href="http://katspaugh.github.io/wavesurfer.js/example/screenshot.png" />



{% endblock %}

{% block content %}

<div id="main">
  <div class="header">
    <div class="pure-g">
      <div class="pure-u-1"> <h1> Annotation Tool</h1> </div>
      <!-- <div class="pure-u-1"> <h3>  </h3> </div> -->
    </div>
  </div>
</div>



 <div class="container">


            <div style=" position:relative;" id="demo">
                <aside style="background: #fff1ea; color:#111111">
                <p> This tool will help you annotate sound files hosted anywhere on the web with the help of the Music Lab Ontologies. These ontologies contain databases of raga, taal and form. You can pick any of these parameters to annotate.
                <br><br>
                Just enter the url of the sound clip. Wait for it to load. Once you can see it, select any region that you want to annotate. If it's a particular note, you could select an individual note. If you want to annotate the whole clip, that too is possible. Select what you want to annotate and click Save.
                <br><br>
                Clicking save will save your annotations for the time being on the browser. This way you can create multiple annotations for the same file. Once you're done, click Publish to post these annotations!
                    <br><br>
                    http://www-mmsp.ece.mcgill.ca/documents/audioformats/wave/Samples/AFsp/M1F1-Alaw-AFsp.wav
                </aside>
                    <div class="container">
                    <div class = "pure-g">
                    <div class = "pure-u-2-3">
                    </div>
                    <div class = "pure-u-1-3">

                        <br>
                      <button class="pure-button centered option button-secondary" id="sign-in">Sign In</button>
                        <button class="pure-button centered option button-secondary" id="sign-out">Sign Out</button>
                    </div>

                </div>


                <div style=" position:relative;">
                    <div clas"row">
                        Load a sound file:
                         <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="search-query form-control" id="file-input" placeholder="Search" />
                            </div>
                        </div>
                        <br>
                        <button class="pure-button centered option button-secondary" id="load">Load</button>
                    </div>

                    <div class = "pure-alert-warning" id = "file-alert">
                        Sorry! Couldn't download file, please try again!
                    </div>

                    <div class = "pure-alert-warning" id = "swt-alert">
                        Sorry we are unable to post your Swt on the SwtStore, please try again!
                    </div>

                    <div class = "pure-alert-warning" id = "successalert">
                      Swt successfully posted, Congratulations!
                      </div>

                    <!--div clas"row">
                        Load a csv file:
                        <input id="nodes-csv-file-input" type="file">
                        <input id="edges-csv-file-input" type="file">
                        <button class="btn btn-success" id="genrateForm">LoadCSV</button>
                    </div-->

                    <p id="subtitle" class="text-center text-info">&nbsp;</p>

                    <div id="wave-timeline"></div>

                    <div id="waveform">
                        <!-- Here be waveform -->
                    </div>

                    <div class="pure-g">
                      <div class = "pure-u-2-3">
                         <p>
                                Click on a region to enter an annotation.<br />
                                Shift-click plays a region in a loop.
                            </p>
                      </div>
                      <div class ="pure-u-1-3">
                         <button class="pure-button centered option button-secondary" data-action="play">
                                <span id="play">
                                    <i class="glyphicon glyphicon-play"></i>
                                    Play
                                </span>

                                <span id="pause" style="display: none">
                                    <i class="glyphicon glyphicon-pause"></i>
                                    Pause
                                </span>
                            </button>

                            <button class="pure-button centered option button-secondary" data-action="publish" title="Publish annotations to JSON" id="Publish">
                                <i class="glyphicon glyphicon-file"></i>
                                Publish
                            </button>
                      </div>
                    </div>



                 <!--    <div class="row" style="margin: 30px 0">
                    <div class="col-sm-2" style = "position:relative; left:80%;">
                            <button class="pure-button centered option button-secondary" data-action="play">
                                <span id="play">
                                    <i class="glyphicon glyphicon-play"></i>
                                    Play
                                </span>

                                <span id="pause" style="display: none">
                                    <i class="glyphicon glyphicon-pause"></i>
                                    Pause
                                </span>
                            </button>
                        </div>


                        <div class="col-sm-2" style = "position:relative; left:40%;">
                            <button class="pure-button centered option button-secondary" data-action="publish" title="Publish annotations to JSON" id="Publish">
                                <i class="glyphicon glyphicon-file"></i>
                                Publish
                            </button>
                        </div>
                    </div>

                        <div class="col-sm-8" style= "position:relative; left: 90%;">
                            <p>
                                Click on a region to enter an annotation.<br />
                                Shift-click plays a region in a loop.
                            </p>
                        </div>

                </div>

            </div>-->
            <div class = "container">
              <div class = "pure-g">
              <div class = "pure-u-1-3">
              </div>
              <div class = "pure-u-1-3">
                 <form role="form" name="edit" style="opacity: 0; transition: opacity 300ms linear; margin: 30px 0;">
                    <div class="form-group">
                        <label for="start">Start</label>
                        <input class="form-control" id="start" name="start" />
                    </div>

                    <div class="form-group">
                        <label for="end">End</label>
                        <input class="form-control" id="end" name="end" />
                    </div>

                    <div class="form-group">
                        <label for="songgraph">Type of Annotation</label>
                        <select id="songgraph" class="form-control" rows="3" name="songgraph" onchange="change_type()"></select>
                    </div>


                    <div class="form-group">
                        <label for="songtype">Category</label>
                        <select id="songtype" class="form-control" rows="3" name="songtype" onchange="change_label()"></select>
                    </div>

                    <div class="form-group">
                        <label for="songlabel">Detail</label>
                        <select id="songlabel" class="form-control" rows="3" name="songlabel"></select>
                    </div>

                     <div class="form-group">
                        <label for="note">Note</label>
                        <textarea id="note" class="form-control" rows="3" name="note"></textarea>
                    </div>


                    <button type="submit" class="pure-button centered option button-secondary">Save</button>

                    <button type="button" class="pure-button option button-secondary" data-action="delete-region">Delete</button>
                </form>
              </div>
              <div class = "pure-u-1-3">
              </div>
           </div>
            </div>
        </div>



{% endblock %}

{% block script %}

        <script src="static/js/jquery-2.1.3.min.js">        </script>

        <script>
                $("#file-alert").hide();
                $("#swt-alert").hide();
                $("#successalert").hide();

        </script>
    <!-- wavesurfer.js -->
        <script src="static/js/src/wavesurfer.js"></script>
        <script src="static/js/src/webaudio.js"></script>
        <script src="static/js/src/audioelement.js"></script>
        <script src="static/js/src/drawer.js"></script>
        <script src="static/js/src/drawer.canvas.js"></script>

        <!-- plugins -->
        <script src="static/js/plugin/wavesurfer.timeline.js"></script>
        <script src="static/js/plugin/wavesurfer.regions.js"></script>
        <script src="static/js/plugin/wavesurfer.minimap.js"></script>

        <!-- App -->
        <script src="static/js/trivia.js"></script>
        <script src="static/js/app.js"></script>

        <script>
            //$("#file-alert").hide();

            function filealert() {
            $("#file-alert").show();
            setTimeout(function() { $("#file-alert").hide(); }, 4000);
            }
            function swtalert() {
            $("#swt-alert").show();
            setTimeout(function() { $("#swt-alert").hide(); }, 4000);
            }
            function successalert(){
              setTimeout(function(){ $("#successalert").hide();}, 4000);
            }

        </script>



    <script>
        var swtstoreURL = function() { return '{{ config.swtstoreURL }}'; }
        var endpoints = {
            'get': '/api/sweets/q',
            'post': '/api/sweets',
            'context': '/api/contexts',
            'auth': '/oauth/authorize',
            'login': '/auth/login',
            'logout': '/auth/logout'
        };
        var access_token = '{{ access_token }}';
        var refresh_token = '{{ refresh_token }}';
        var app_id = '{{ config.app_id }}';
        var oauth_redirect_uri = '{{ config.redirect_uri }}';
    </script>

{% endblock %}
